

html{
    background-color: black;
    color: white; 
    text-align: center;
}


h1{
    text-align: center;
    font-size: 45px;
    border-bottom: solid 5px gold;
    padding-bottom: 15px;

}
h4{
    font-size: 24px;
    border-bottom: solid 5px gold;
}



fieldset {
    border: 0;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 5px;
    border: 3px solid gold;
}
.myButtons{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 5px;
    border: 3px solid gold;
    font-size: 22px;
}
.buttonDivider{ 
    border-right: solid 5px gold
}
.card{
    background-color:black;
    border: 3px solid black;
    color: white;
    width: 150px;
    height: 200px;
    margin: 10px;
    display: inline-block;
    vertical-align: bottom;
    cursor: pointer;
}
.icon{
    border-radius: 5px;
}

.characterThumbnail{
    border-radius: 5%;
    width: 120px;
    height: 120px;
    margin: 10px;
}
p{
    margin: 0;
    text-align: center;
    /*vertical-align: text-bottom;*/
}
.card:hover{
    border-radius: 5px;
    border: 3px solid white;
    color: gold;
}
.characterIndexTable{
    text-align: center;
    background-color: black;
}

.characterIndex{
    display: inline-block;
    border: 2px solid gold;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    line-height: 5px;
    vertical-align: middle;
    margin: 5px;
    padding-right:5px;
    padding-left:5px;
}
.characterIndexDisabled{
    display: inline-block;
    border: 2px solid white;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    line-height: 5px;
    vertical-align: middle;
    margin: 5px;
    padding-right:5px;
    padding-left:5px;
    background-color: red;
    color: white;

}

.characterIndex:hover{
    background-color:gold;
    color:black;
}
/*
.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
  }
*/
.displayCharacterName{
    font-size: 28px;
}

.displayCharacterImage{
    border-radius: 5%;
    width: 170px;
    height: 170px;
    margin: 10px;
}

.characterSection{
    border-radius: 5%;
    border: 5px solid gold;
    margin: 10px;
}
.characterSectionTitle{
    font-size: 24px;
    border-bottom: 3px solid gold;
    padding-bottom: 5px;
}
.characterSectionItems{
    font-size: 20px;
    padding-bottom: 5px;
}
.sectionDescription{
    color: gold;
}


.errorName{
    text-align: center;
    font-size: 24px;


}
.sorryTitleSection{
    text-align: center;
    width: 200px;
    border-bottom: 3px solid gold;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.sorryTitle{
    color: gold;
    font-size: 24px;
}
.sorryDescription{
    font-size: 20px;

}
.openingStatements{
    font-size: 20px;
    margin-bottom: 10px;
}
.dataTimer{
    font-size: 28px;
    color: gold;
    margin-bottom: 10px;
}
.importantOpeningStatement{
    font-size: 22px;
    color: gold;
}
.gifInstruction{
    width: 70%;
    height: 500px;
    border-radius: 5px;
    border: 5px solid gold;
    margin-top: 20px;
}
.errorMessageSection{
    width: 80%;
    margin: auto;
}
.indexingInformation{
    font-size: 18px;
    margin: 5px;
}

@media only screen and (max-width: 600px) {
    .moblePhone{
        visibility: hidden;
    }
}